{% extends "::base.html.twig" %}

{% block title %}
Echecs a Points
{% endblock %}

{% block body %}
<meta charset="UTF-8" />
<h1>Bienvenue</h1>
{% if app.user!=null %}
<h4>Vos parties en cours :</h4>
<ul class="collection">
{% for game in BlackGames %}
	<li class="collection-item">
	 <span style="text-transform: capitalize;">{{ game.whitePlayer.username }}</span>
	{% endfor %}
	{% for game in WhiteGames %}
	<li class="collection-item">
	 <span style="text-transform: capitalize;">{{ game.blackPlayer.username }}</span>
	{% endfor %}

</ul>
{% else %}
<h5>Vous devez être connecté pour voir cette page.</h5>
{% endif %}

{% endblock %}