{% extends "::base.html.twig" %}

{% block title %}
Echecs a Points
{% endblock %}

{% block body %}
<meta charset="UTF-8" />
<div class="container">
<h1>Bienvenue</h1>
{% if app.user!=null %}

{% else %}
<h5>Pour pouvoir jouer vous devez être identifié.</h5>
<div class="row"></div>
<div class="divider"></div>
<div class="row"></div>
<div class="row">
	<div class="col s5 card-panel teal lighten-2 center-align">
		<h5>Pas encore inscrit ?</h5>
		<a href="{{ path('user_registration') }}" class="waves-effect waves-light btn-flat">S'enregistrer</a>
	</div>
	<div class="col s5 offset-s1 card-panel teal lighten-2 center-align">
		<h5>Déjà Inscrit ?</h5>
		<a href="{{ path('app_login') }}" class="waves-effect waves-light btn-flat">Se connecter</a>
	</div>
</div>
{% endif %}
</div>

{% endblock %}