{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:show{% endblock %}

{% block body %}
<!--<h1>Welcome to the Game:show page</h1> -->

<table class="responsive-table">


	{% for file in 0..7 %}
	
	<tr>
	
	{% for rank in 0..7 %}
	
	
	<td>
	{{ piece.htmlCode }}
	</td>
	
	{% endfor %}
	
	</tr>
	
	{% endfor %}
</table>


{% endblock %}
