{% extends "::base.html.twig" %}

{% block title %}AppBundle:Game:show{% endblock %}

{% block body %}
<!--<h1>Welcome to the Game:show page</h1> -->

<table class="responsive-table">


	{% for file in 0..7 %}
	
	<tr>
	
	{% for rank in 0..7 %}
	
	{% if file%2 == 0 and rank%2 == 0 %}
	<td style="width:40pt; height:40pt;">
	{% else %}
	<td style="width:40pt; height:40pt;background:silver;">
	{% endif %}
	
	&#{{ piece.htmlCode }};
	</td>
	
	{% endfor %}
	
	</tr>
	
	{% endfor %}
</table>


{% endblock %}
