{% block title %}{% endblock %}

{% block body %}

<table style="text-align:center;margin:auto">


	{% for file in 0..7 %}
	
	<tr>
	
	{% for rank in 0..7 %}
	
	{% if (file+rank)%2 == 0 %}
	<td style="width:40pt; height:40pt;">
	{% else %}
	<td style="width:40pt; height:40pt;background:silver;">
	{% endif %}
	<span style="font-size:250%">
	&#{{ piece.htmlCode }};
	</span>
	</td>
	{% endfor %}
	
	</tr>
	
	{% endfor %}
</table>


{% endblock %}
