{% extends "::base.html.twig" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h3>Authentification</h3>
<meta charset="UTF-8" />
{% if error %}
<div class="card-panel red white-text">
{{ error.messageKey|trans(error.messageData,'security') }}
</div>

{% endif %}
{% if app.user!=null %}
<div class="row">
<h4>Vous êtes déjà authentifié.</h4>
<a href="{{ path('app_index') }}" class="waves-effect waves-light btn">Retourner à l'accueil.</a>
</div>
{% else %}
<div class="row">
	<form action="{{ path('app_login') }}" method="post" class="col s12">
		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="username" name="_username" value="{{ last_username }}" class="validate"/>
				<label for="username">Username :</label>
			</div>
			<div class="input-field col s12">
				<input type="password" id="password" name="_password" class="validate"/>
				<label for="password">Password :</label>
			</div>
		</div>
		<div class="row">
		 <button class="btn waves-effect waves-light" type="submit" name="action">
		 Login<i class="material-icons right">verified_user</i>
		 </button>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}